$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$Sliver: #afafaf;
$White: #ffffff;

$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

$mobile-padding-before-headlines: 1.5rem;
$mobile-padding-between-components: 1rem;

$tab-padding-before-headlines: 2.25rem;
$tab-padding-between-contents: 1.5rem;
