@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.divider {
  border: 1px solid $Mercury;
  width: 100%;
  margin: $mobile-padding-between-components 0;

  @include tablet {
    margin: 0.5rem 0 $mobile-padding-between-components 0;
  }
}
