@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-entry {
  &__article {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 1rem;

    @include tablet {
      margin: 1.5rem 0;
    }
  }

  &__avatar {
    background-color: $Mercury;
    width: 2.25rem;
    height: 2.25rem;
    border: 1px solid $Mercury;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-right: $mobile-padding-between-components;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__container {
    position: relative;
    width: 100%;

    @include desktop {
      margin-right: 2rem;
      margin-left: 1rem;
    }

    h4 {
      display: inline;
      font-size: 0.8rem;
      font-weight: $font-weight-dami;
      position: absolute;
      top: 0;
      left: 0;

      @include tablet {
        font-size: 0.875rem;
      }
    }
  }

  &__date {
    position: absolute;
    top: 0;
    right: 0;
    color: $Silver;
    font-size: 0.8rem;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__content {
    margin-top: $mobile-padding-before-headlines;
    font-size: 0.79rem;
    line-height: 1rem;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    @include desktop {
      text-align: left;
    }
  }
}
