@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-entry {
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  @include tablet {
    padding: 0.8rem 0;
  }

  @include desktop {
    flex: 1;
  }

  &__img {
    width: 7rem;
    height: auto;
    border-radius: 0.25rem;
    flex: 30%;
    background-color: $Mercury;

    @include tablet {
      flex: 0%;
    }

    @include desktop {
      flex: 0;
      width: 8rem;
      height: fit-content;
      border-radius: 0.3125rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    flex: 60%;
    margin-left: 1rem;

    @include tablet {
      margin-right: 24rem;
    }

    @include desktop {
      margin-right: 0;
    }
  }

  &__title {
    font-weight: $font-weight-dami;
    font-size: 0.8125rem;
    line-height: 1.125rem;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &__channel {
    font-size: 0.8125rem;

    @include tablet {
      font-size: 0.875rem;
    }
  }
}
