@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  padding: 0 $mobile-padding-between-components;

  @include tablet {
    padding: 0 $tab-padding-before-headlines;
  }

  @include desktop {
    padding: 0 0 0 $desktop-padding-width;
  }

  &__title {
    font-weight: $font-weight-dami;
    font-size: 0.8rem;

    @include tablet {
      font-weight: bold;
    }
  }

  &__entryList {
    @include desktop {
      padding: 0 1rem;
    }
  }
}

.comment__entryList .comment-entry:last-child .divider {
  @include desktop {
    display: none;
  }
}
