@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-upload-form {
  padding: $mobile-padding-before-headlines 0;
  width: 100%;
  overflow: hidden;

  @include tablet {
    padding: $tab-padding-between-contents 0;
  }

  @include desktop {
    padding: 0;
  }

  &__desktop-container {
    @include desktop {
      display: flex;
      align-items: center;
    }
  }

  &__thembnail-container {
    @include desktop {
      width: 45%;
      padding-right: 2rem;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }

  label {
    font-size: 0.75rem;
    color: $Silver;
    font-weight: $font-weight-dami;
  }

  &__thumbnail-img {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 0.2rem;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

    label {
      padding-top: 1rem;
      padding-bottom: 0.3rem;

      @include desktop {
        padding-top: 1.5rem;
      }
    }

    input {
      background-color: $Alabaster;
      border: 0.1rem solid $Mercury;
      border-radius: 0.3rem;
      padding-left: 0.8rem;
      height: 2.25rem;
      width: 100%;
      font-size: 0.8rem;

      &::placeholder {
        color: $BrainFlix-Black;
      }

      &:focus {
        outline: none;
        border: 2px solid $BrainFlix-Blue;
      }

      &.error {
        outline: none;
        border: 1px solid #d22d2d;
      }

      @include tablet {
        font-size: 0.9rem;
        flex: 1;
        padding: 0.6rem 0 0.6rem 1rem;
      }

      @include desktop {
        font-size: 0.85rem;
      }
    }

    textarea {
      height: 23vw;
      background-color: $Alabaster;
      border: 0.1rem solid $Mercury;
      border-radius: 0.25rem;
      padding-top: 0.8rem;
      padding-left: 0.8rem;

      &::placeholder {
        color: $BrainFlix-Black;
      }

      &:focus {
        outline: none;
        border: 2px solid $BrainFlix-Blue;
      }

      &.error {
        outline: none;
        border: 1px solid #d22d2d;
      }

      @include tablet {
        height: 10vw;
        font-size: 0.9rem;
        padding-left: 1rem;
      }

      @include desktop {
        height: 7vw;
      }
    }
  }

  &__button-container {
    position: relative;
    height: 4rem;

    @include tablet {
      padding-top: 1rem;
    }
  }

  &__button {
    &--publish {
      background-color: $BrainFlix-Blue;
      color: $White;
      font-size: 0.8rem;
      font-weight: $font-weight-dami;
      width: 100%;
      height: 2.3rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:hover {
        cursor: pointer;
        background-color: $BrainFlix-DarkBlue;
      }

      @include tablet {
        position: absolute;
        top: 1.65rem;
        right: 0;
        height: 2.5rem;
        width: 25%;
      }

      @include desktop {
        width: 14%;
      }

      img {
        position: absolute;
        height: 1.3rem;
        left: 0.8rem;
      }
    }

    &--cancel {
      width: 100%;
      padding-top: $mobile-padding-before-headlines;
      border: none;
      background-color: white;
      color: $BrainFlix-Blue;
      font-weight: $font-weight-dami;

      &:hover {
        cursor: pointer;
        color: $BrainFlix-DarkBlue;
      }

      @include tablet {
        display: flex;
        justify-content: flex-end;
        padding-right: 33.4vw;
      }

      @include desktop {
        padding-right: 17.5vw;
      }
    }
  }

  .divider {
    border: 1px solid $Mercury;
    width: 100%;
    margin: 0;
  }
}

.divider-without-mobile-style {
  display: none;

  @include tablet {
    display: block;
  }
}
